aceleradev_semana2.ipynb
alunos.py
covid-19.py
semana2.py
.idea/vcs.xml
.ipynb_checkpoints/
Semana3.ipynb
Terra.mp4
__pycache__/
brazil_covid19.csv
coronavirus-brasil.png
coronavirus.png
piano2.wav
venv/
codenation-streamlit-ale/
streamlit.py
